[submodule "testdata/case/haskell-hello-world"]
	path = testdata/case/haskell-hello-world
	url = https://github.com/sgtest/haskell-hello-world.git
[submodule "testdata/case/haskell-module-import"]
	path = testdata/case/haskell-module-import
	url = https://github.com/sgtest/haskell-module-import
[submodule "testdata/case/deepseq"]
	path = testdata/case/deepseq
	url = https://github.com/haskell/deepseq.git
[submodule "testdata/case/dlist"]
	path = testdata/case/dlist
	url = https://github.com/spl/dlist.git
